body{
  font-family: 'Oswald', sans-serif;
  padding-top: 86px;
}

h1 {
  font-size: 42px !important;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px !important;
}

h3 {
  font-size: 24px !important;
}

.sb-logo{
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px !important;
}

#hero {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 450px;
  widows: 100%;
}

#work {

}

img.img-work:hover {
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}


.hero-inner{
  background-color: white;
}


/* Responsive */
@media screen and (max-width: 800px) {
  #hero {
    height: 1120px;
  }
}
